@model IEnumerable<BKStore_MVC.ViewModel.DeliveryVM>

@{
    ViewData["Title"] = "Get All Delivery Clients";
}

<h1>Get All Delivery Clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>National ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Is Locked</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.NationalID)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.IsLocked)</td>
                <td>
                    @if (!item.IsLocked)
                    {
                        <form asp-action="LockAccount" method="post">
                            <input type="hidden" name="ID" value="@item.UserID" />
                            <button type="submit">Lock User</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="UnLockAccount" method="post">
                            <input type="hidden" name="ID" value="@item.UserID" />
                            <button type="submit">UnLock User</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
